.choose {
    background: url('../img/background-choose.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;
    position: relative;

    .overlay {
        background-image: -webkit-linear-gradient(0deg,#62bdfc 0%,#8490ff 100%);
        opacity: .9;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .choose-text {
        max-width: 43.75em;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;

        h2 {
            margin-bottom: 10px;
            @include heading-2($h2-color-white, 1.9rem)
        }

        p {
            @include paragraph($p-color-white, 1rem, 24px);
            text-align: center;
        }
    }

    .choose-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;

        .choose-box {
            display: flex;
            max-width: 32.5em;
            margin: 15px;
            padding: 30px 20px;
            background: #fff;
            border-radius: 5px;

            @media (max-width: 350px) {
                margin: 5px;
                padding: 30px 15px;
            }
            
            h3 {
                margin: 15px 0 5px 0;
            }
        }

        .choose-img {
            margin-right: 15px;
            
            img {
                max-width: 50px;

                @media (max-width: 350px) {
                    display: none;
                }
            }
        }

        .content-choose {
            p {
                @include paragraph;
            }
        }
    }
}