.form-container {
    padding: 120px 0;
}

.form-text {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;

    h2 {
        margin-bottom: 10px;
        font-size: 2.25em;
    }

    p {
        margin-bottom: 16px;
    }
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;

    .preench {
        display: flex;
        flex-direction: column;
        width: 37.5em;
        margin-right: 15px;

        input {
            margin: 7px;
            width: 100%;
            padding: 15px; 
            border: 1px solid #ced4da;
            line-height: 1.5;
            color: #495057;
            transition: 0.3s;

            &:focus {
                color: #495057;
                background-color: #fff;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem #007bff40;
            }
        }
    }

    .texarea-form {
        margin: 7px;
    }

    textarea {
        width: 31.25em;
        padding: 7px 0 0 10px;
        border: 1px solid #ced4da;
        margin: 0px  5px 15px 20px;
        color: #495057;
        transition: 0.3s;

        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem #007bff40;
        }
    }

    button {
        display: block;
        margin-left: 20px;
        padding: 10px 30px;
        border: none;
        background-image: -webkit-linear-gradient(0deg,#62bdfc 0%,#8490ff 100%);
        border-radius: 30px;
        color: #fff;
        font-size: .875em;
        line-height: 42px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        
        .arrow {
            display: inline-block;
            margin-left: 5px;
            transition: all .3s;
        }

        &:hover .arrow {
            transform: translateX(10px);
        }
    }
}