header {
    height: 80px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    img {
        padding: 0 10px;
        margin-bottom: 10px;
    }

    ul {
        @media (max-width: 406px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        li{
            display: inline-block;
            margin-bottom: 10px;

            @media (max-width: 390px) {
                &:last-child {
                    margin-right: 190px;
                }
            }
    
            a {
                color: #222;
                font-size: 1em;
                padding: 10px 8px;
                transition: 0.3s;
                
                &:hover {
                    color: #8490FF;
                }
            }
        }
    }
}