.home-container {
    padding: 30px 0 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50%;
        border-radius: 20px;
        margin-right: 35px;
        padding: 0 10px;
    }
    .text-home {
        max-width: 35.5em;
        padding: 0 10px;

        h3 {
            font-weight: 400;
            letter-spacing: 3px;
            font-size: 1.125em;
        }

        h1 {
            font-size: 3em;
            font-weight: 700;
            line-height: 1em;
            margin-top: 5px;
        }

        p {
            padding: 20px 0;
            font-weight: 300;
        }

        a {
            padding: 10px 30px;
            border: 1px solid transparent;
            background-image: -webkit-linear-gradient(0deg,#62bdfc 0%,#8490ff 100%);
            border-radius: 25px;
            color: #fff;
            line-height: 42px;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.3s;

            &:hover {
                border-color: #000;
                background: #fff;
                color: #000;
            }
        }
    }
}

.box-container {
    padding: 80px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.box-inf {
    max-width: 21.875em;
    margin: 10px 20px;
    flex: 1;
    
    h3 {
        margin: 13px 0;
        font-size: 1.125em;
        padding-left: 10px;
    }

    p {
        font-weight: 300;
        padding-left: 10px;
    }

    img {
        padding-left: 10px;
    }
}