.patners {
    padding: 50px 0;
    background: #F9F9FF;
}

.patners-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .img-patners {
        margin: 10px 20px;
        filter: grayscale(100%);
        transition: 0.3s;

        &:hover {
            filter: grayscale(0%);
        }
    }
}