.content-synchronization {
    padding: 120px 0 50px 0;
    background: #FBFBFF;

    .subtitle-synchronization {
        text-align: center;
        margin-bottom: 40px;
        font-size: 2.25em;
    }
}

.box-content {
    display: flex;
    justify-content:center;
    align-items: center;

    @media (max-width: 841px) {
        flex-wrap: wrap;
    }

    .box-content-icons {
        max-width: 37.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;

        .box1 {
            margin: 10px;
            width: 9.375em;
            background-color: #fff;
            box-shadow: 0px 0px 40px 0px #8490ff33;

            a {
                display: block;
                border: 2px solid transparent;
                transition: 0.3s;

                &:hover {
                    border-color: #6A9DDC;
                }
            }

            .rec-1,.rec-2,.rec-3,.rec-4,.rec-5,.rec-6 {
                padding: 30px 40px;
            
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }

    .content-text {
        max-width: 25.625em;
        padding: 0 10px;
        margin-left: 40px;

        @media (max-width: 941px) {
            margin-left: 0px;
        }

        @media (max-width: 841px) {
            max-width: 33.625em;
        }

        h3 {
            font-size: 1.125em;
            margin-bottom: 15px;
            font-weight: 500;
        }

        p {
            margin-bottom: 30px;
        }

        a {
            padding: 15px 30px;
            margin-bottom: 20px;
            background-image: -webkit-linear-gradient(0deg,#62bdfc 0%,#8490ff 100%);
            border-radius: 25px;
            color: #fff;
            line-height: 42px;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.3s;

            &:hover {
                border: 1px solid #000;
                background: #fff;
                color: #000;
            }
        }
    }
}

.project {
    padding: 30px 0 120px 0;
    background: #FBFBFF;

    @media (max-width: 841px) {
        padding-top: 0px;
    }
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 841px) {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .project-box1 {
        width: clamp(150px, 200px, 200px);
        margin: 10px 10px;

        @media (max-width: 841px) {
            margin: 10px 10px;

            &:not(:last-child)::after {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                margin-top: 20px;
                background-color: rgb(116 106 106 / 7%);
            }
        }

        h1 {
            font-weight: 700;
            font-size: 3em;
            display: inline-block;
            background: -webkit-linear-gradient(0deg,#62bdfc 0%, #8490ff 100%);
            background-clip: text;
            color: transparent;
            -webkit-background-clip: text;
        }

        p {
            color: #222;
        }
    }
}