.content-synchronization {
    padding: 120px 0 80px 0;
    background: #FBFBFF;
}

.box-content {
    display: flex;
    justify-content:center;
    align-items: center;

    .box-content-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 37.5em;

        .box1 {
            margin: 10px;
            width: 9.375em;
            background-color: #fff;
            box-shadow: 0px 0px 40px 0px #8490ff33;

            a {
                display: block;
                border: 2px solid transparent;
                transition: 0.3s;

                &:hover {
                    border-color: #6A9DDC;
                }
            }

            .rec-1,.rec-2,.rec-3,.rec-4,.rec-5,.rec-6 {
                padding: 30px 40px;
            
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }

    .content-text {
        max-width: 25.625em;
        padding: 0 10px;
        margin-left: 40px;

        h3 {
            font-size: 1.125em;
            margin-bottom: 15px;
            font-weight: 500;
        }

        p {
            margin-bottom: 30px;
        }

        a {
            padding: 10px 30px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            background-image: -webkit-linear-gradient(0deg,#62bdfc 0%,#8490ff 100%);
            border-radius: 25px;
            color: #fff;
            line-height: 42px;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.3s;

            &:hover {
                border-color: #000;
                background: #fff;
                color: #000;
            }
        }
    }
}