@import 'geral';
@import 'header';
@import 'home';
@import 'choose';
@import 'synchronization';
@import 'system';
@import 'responsible';
@import 'partners';
@import 'form';
@import 'footer';
@import 'tabnav';
@import 'scroll-nav';

@media (max-width: 1151px) {
    /* Home */
    .text-home h1 {
        font-size: 2.875em;
    }

    /* Form */
    .texarea-form {
        width: 37.5em;
    }
    
    .form-box textarea {
        width: 100%;
        margin-left: 0px;
    }
}

@media (max-width: 941px) {
    /* Home Container */

    .box-container {
        flex-direction: column;
    }

    .box-inf {
        max-width: 25em;
        margin: 20px 20px;
    }

    /* Contant Synchronization */

    .content-text {
        margin-left: 0px;
    }

    /* Project */

   .project-container {
        flex-wrap: wrap;
    } 

    /* Footer */

    .contact .number {
        font-size: 1.125em;
    }
}

@media (max-width: 841px) {
    /* Home */
    .home-container {
        flex-wrap: wrap-reverse;
        padding-top: 20px;
    }

    .text-home {
        max-width: 40.5em;
        margin-bottom: 40px;
    }

    .home-container img {
        width: 100%;
        margin-right: 0px;
    }

    /* content-synchronization */

    .box-content {
        flex-wrap: wrap-reverse;
    }

    .content-text {
        max-width: 33.625em;
    }

    /* responsible */

    .box-responsible-1 {
        flex-wrap: wrap-reverse;
    }

    .box-responsible-2 {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .text-responsible, .text-responsible-2 {
        max-width: 46.5625em;
        margin: 20px auto;
    }

    /* Footer */

    .container-footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 741px) {

    /* Footer */

    .footer-box {
        padding: 0 2px;
    }
    
    /* About */

    .about {
        width: 24.375em;
    }

}

@media (max-width: 568px) {
    .home-container {
        margin-top: 30px;
    }
}

@media (max-width: 598px) {

    /* responsible */

    .img-responsible img, .img-responsible-2 img {
        width: 100%;
    }

    /* Form */

    .form-text h2 {
        font-size: 2em;
    }
}

@media (max-width: 406px) {
    /* Header */
    header nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 392px) {
    /* Home */
    .home-container {
        padding-top: 50px;
    }

    .text-home h3 {
        letter-spacing: 1px;
    }

    .text-home h1 {
        font-size: 2em;
        margin-top: 5px;
        margin-bottom: -10px;
    }

    /* Choose */

    .choose-text h1 {
        font-size: 2em;
    }

    /* System */

    .system-text h2 {
        font-size: 1.8em;
    }

    /* Responsible */
    
    .text-responsible h2, .text-responsible-2 h2 {
        font-size: 2em;
    }

}

@media (max-width: 390px) {
    /* Header */
    header nav ul li:last-child {
        margin-right: 190px;
    }
}